header {
    background-color: #ffd0d7;
    margin-top: 0px;
    padding: 0;
    overflow: auto;
    position: fixed;
    top: -8px;
    left: -8px;
    width: 104%;
    margin-left: 0px;
    margin: 0px;
    z-index: 10;
}
.nav {
    width: 90%;
    margin-top: 0px;
}
nav ul {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    list-style: none;
    width: 100%;
}
nav li {
    padding: 1em 2em 1em 2em;
    display: inline-block;
    text-decoration: none;
    height: 10%;
}
nav a {
    text-decoration: none;
    font-size: 2.2em;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    color: black;
    z-index: 3;
}
nav a:hover {
    font-weight: bold;
    z-index: 2;
}
nav a:active {
    text-shadow: 1.5px 1.5px #838383;
    z-index: 1;
}
body {
    background-color: #fff1f3;

}
h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    margin-left: 0px;
    font-size: 2em;
    padding: 0 2em 1em 2em;
    height: 2em;
    text-align: center;
    overflow: visible;
    position: relative;
    top: 3em;
}
#title {
    font-family: cursive;
    margin-left: 22px;
    font-size: 1.2em;
    margin-left: 3em;
    overflow: auto;
}
img {
    padding: 2em;
    margin: 2em;
    display: block;
    margin: 0px auto;
}
img.photocover{
    border-radius: 5%;
    margin-left: 3em;
    display: inline;
    padding: 0px;
}
.topfooter {
    text-align: center;
    text-decoration: underline;
    color: black;
}
a {
    color: black;
}
a:visited {
    color: black;
}
figcaption {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
    margin-left: 15%;
    margin-top: 0px;
    margin-bottom: 2em;
}
figcaption.albumcover {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
    margin-left: 4%;
    margin-top: 3px;
    margin-bottom: 4em;
}
.down {
    position: relative;
    top: 4em;
}
#logo {
    text-align: center;
    font-family: cursive;
    font-size: 2.3em;
    overflow: visible;
    z-index: 20;
    position: fixed;
    left: 1.5em;
    top: -.28em;
    margin: 0px;
    padding: 0px;
}
